<!DOCTYPE html>

<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="/img/sun-cloud.png" >
        <link rel="stylesheet" href="./css/styles.css">
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        <p> {{message}} </p>
        
        <a href="https://github.com/pjain9/node3-weather-website/issues" target="_blank">Click to create issue here</a>
        </div>
        
        {{>footer}}
    </body>
</html>